@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Open+Sans:wght@300&family=Rubik+Moonrocks&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #B13B19;
    --color-white: #dad7d2;
    --color-black: #181A1B;
    --color-gray: #9f978b;

    --font-lg: 38px;
    --font-md: 24px;
    --font-sm: 15px;
    --font-xs: 9px;

    --size-lg: 1280px;
    --size-md: 976px;
    --size-sm: 768px;
    --size-xs: 500px;
}