@import url("../main.css");

body, html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}

aside {
    width: 30%;
    height: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.aside-logo {
    transform: scale(1.5);
}

.aside-lblTitleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.aside-lblTitle, .aside-lblCreateAccount {
    font-weight: bolder;
    font-size: 34px;
    color: var(--color-black);
}

.aside-lblCreateAccount {
    font-size: var(--font-sm);
    margin-top: 10px;
}

.aside-lblCreateAccount a {
    color: var(--color-primary);
    font-weight: bolder;
}

.aside-formBox {
    margin-top: 20px;
    width: 70%;

}

.asideForm-fieldBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

.formField-lblName {
    font-weight: bold;
    color: var(--color-black);
    margin: 5px 0;
}

.formField-txtName {
    height: 40px;
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-gray);
    border-radius: 3px;
    outline: none;
    padding: 10px;
    font-size: var(--font-sm);
    font-weight: bolder;
}

.formField-txtName:focus {
    border: 1px solid var(--color-primary);
}

.asideForm-fieldBox:nth-child(3) {
    flex-direction: row;
}

.formField-chRememberMe {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-gray);
    transform: translateY(8px);
    cursor: pointer;
}

.asideForm-btnLogin {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}

.asideForm-btnLogin:hover {
    background-color: #8d2b0f;
}

.asideForm-btnForgetBox {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.asideForm-btnForget {
    color: var(--color-primary);
    font-weight: bolder;
}

.aside-descriptionBox {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
    font-weight: bolder;
}

.aside-descriptionBox a {
    color: var(--color-gray);
}

.aside-descriptionBox a:hover {
    color: var(--color-primary);
}




main {
    width: 70%;
    height: 100%;
    background: url("https://github.com/cc-Mehdi/Web-Temp/raw/master/LoginPage/Login%20Page.png") no-repeat center;
    background-size: cover;
}